@using System.Collections.Generic
@using Jeopicodus.ViewModels
@using Jeopicodus.Models
@model GameIndexViewModel

<h1>Games</h1>

<div class="flex-container">
    <div class="card">
        <div class="card-body">
            <form id="team-one-name" method="post">
                <div class="form-control">
                    <input id="team1name" name="team1name" type="text" placeholder="Team Name">
                </div>
                <button type="submit" class="btn btn-primary">Create Team</button>
            </form>
        </div>
    </div>
    <div id="WriteGames">

    </div>
</div>

<script type="text/javascript">
    var data = '@Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model.Games) as string)'
    const hubConnection = new signalR.HubConnectionBuilder()
                    .withUrl("/gameHub")
                    .configureLogging(signalR.LogLevel.Information)
                    .build();
    var playerId = '@Model.User.Id';
    hubConnection.start();
    $(document).ready(function(){
        writeGames(data);
        hubConnection.invoke('JoinHub', playerId);
        hubConnection.on("ShowGames",gameData =>{
            writeGames(gameData);
        });
        $('.team-one .join-team').click(function(){
            getTeamData(this);
            hubConnection.invoke("GameAdded");
        });
        $('.team-two .join-team').click(function(){
            getTeamData(this);
            hubConnection.invoke("GameAdded");
        });
        $('.team-two-name').submit(function(event){
            event.preventDefault();
            const gameIdString = $(this).closest(".card").attr("id");
            const gameId = gameIdString.substring(gameIdString.indexOf("-")+1);
            const team2Name = $('#team2name-' + gameId).val();
            hubConnection.invoke('CreateTeam', gameId + "#" + team2Name + "#" + playerId);
            hubConnection.invoke("GameAdded");
        });
        $('#team-one-name').submit(function(event){
            event.preventDefault();
            const team1Name = $('#team1name').val();
            hubConnection.invoke('CreateGame', team1Name + "#" + playerId);
            hubConnection.invoke("GameAdded");
        });

        function getTeamData(element) {
            const gameIdString = $(element).closest(".card").attr("id");
            const gameId = gameIdString.substring(gameIdString.indexOf("-")+1);
            const teamIdString = $(element).closest(".card-body").find(".members").attr("id");
            const teamId = teamIdString.substring(teamIdString.indexOf("-")+1);
            hubConnection.invoke('JoinTeam', gameId + "#" + teamId + "#" + playerId);
        }

    });
    function writeGames(htmlToInsert){
       $("#showJSGames").innerHTML(htmlToInsert);
    };
       var htmlToInsert = 
       " <div>
       @foreach(Game game in Model.Games)
        {
        var count = game.Teams.Count;
        var teamOrder = "one";
        var counter = 0;
        
        <div id="gameId-@game.GameId" class="card">
            <div class="row">
                @foreach (Team team in game.Teams)
                {
                    counter++;
                    @if(counter == 2)
                    {
                        teamOrder = "two";
                    }

                    @if(count == 1)
                    {
                        <div class="col-sm">
                            <div class="card-body team-one">
                                <h5 class="card-title">@team.TeamName</h5>
                                <hr>
                                <div id="team-@team.TeamId" class="members team-one-members">
                                </div>
                                <button class="join-team btn btn-primary">Join Team</button>
                            </div>
                        </div>
                        <div class="col-sm">
                            <div class="card-body team-two">
                                <form class="team-two-name" method="post">
                                    <label for="team2name-@game.GameId">Team Name:</label>
                                    <input id="team2name-@game.GameId" name="team2name" type="text">
                                    <button type="submit" class="btn btn-primary">Add Team</button>
                                </form>
                            </div>
                        </div>
                    } 
                    else
                    {
                        <div id="WriteTeams" class="col-sm">
                            <div class="card-body team-@teamOrder">
                                <h5 class="card-title">@team.TeamName</h5>
                                <hr>
                                <div id="team-@team.TeamId" class="members team-@teamOrder-members">
                                </div>
                                <button class="join-team btn btn-primary">Join Team</button>
                            </div>
                        </div>
                    }
                }
            </div>
        </div>
    };
    </div>"
 
</script>