@using Jeopicodus.ViewModels

@model LoginViewModel

<h1>Hello @User.Identity.Name!</h1>

@Html.ActionLink("Game", "Index", "Game")
@Html.ActionLink("User History", "Details", "Account")
@Html.ActionLink("Rules", "Details", "Home")