.card {
    text-align: center;
    vertical-align: middle;
    margin: 5px 0;
    border: 5px solid black;
    background-color: #0709CE;
    color: yellow;
}

.card h4 {
    margin: 1em 0;
    font-weight: bold;
}

#gameboard {
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

body {
    background-color:	#0000A3;
}

h1, h2
{
    color: yellow;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
}

.form-control
{
    background-color: #0709CE;
    color: yellow;
    border: none;
}

.form-group
{
    color: yellow;
}

.game-bar
{
    border: 2px solid black;
}

.jumbotron img
{
    width: 100%;
    object-fit: contain;
}

.jumbotron 
{
    background-color:  rgb(252, 255, 88);
    border: 5px solid black;
}

.modal-content 
{
    background-color: #0709CE;
    color: white;
}

.modal-footer 
{
    justify-content: center;
}

#modal-btn 
{
    width: 100%;
    color: rgb(63, 63, 63);
    background-color: rgb(252, 255, 88);
    font-weight: bold;
}

.flex-container .card
{
    margin: 10px;
}


#scoreboard
{
    background-color: yellow;
    border: 5px solid black;
    margin-bottom: 20px;
}

#team2-scoreboard
{
    text-align: right;
}

#team1-scoreboard h5, #team2-scoreboard h5
{
    font-weight: bold;
    font-size: 30px;
    color: #454545;
}

.scoreboard-score
{
    margin-left: 15px;
    margin-right: 15px;
}

.answered 
{
    color: #0709CE;
}

#bg-yellow {
    background-color: yellow;
}

.isactive {
    text-decoration: underline;
}